@layer layout {
  body > div {
    min-height: 100vh; /* 1 */
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  header,
  footer,
  main > div {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 1rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    place-items: center;

    & nav > ul > li {
      display: inline-block;
      padding-right: 1rem;
    }
  }

  footer {
    text-align: center;
  }
}

/*
1. Ensures the footer remains at the bottom of the viewport.
*/
