@layer theme {
  @property --light-bg {
    syntax: '<color>';
    inherits: false;
    initial-value: #fbf1c7;
  }

  @property --light-fg {
    syntax: '<color>';
    inherits: false;
    initial-value: #3c3836;
  }

  @property --dark-fg {
    syntax: '<color>';
    inherits: false;
    initial-value: #ebdbb2;
  }

  @property --dark-bg {
    syntax: '<color>';
    inherits: false;
    initial-value: #282828;
  }

  :root {
    --color-text: var(--light-fg);
    --color-background: var(--light-bg);

    color-scheme: light;
    color: var(--color-text);
    background-color: var(--color-background);
  }

  [data-theme='light'] {
    --color-text: var(--light-fg);
    --color-background: var(--light-bg);

    color-scheme: light;
  }

  [data-theme='dark'] {
    --color-text: var(--dark-fg);
    --color-background: var(--dark-bg);

    color-scheme: dark;
  }
}
